# API base URL (no trailing slash)
API_BASE_URL=http://localhost:3000

# Plumpi Events API endpoint (no trailing slash)
PLUMPI_ENDPOINT=https://api-staging.plumpievents.com/v1
VITE_PLUMPI_WEB=https://2e81a86b.plumpi-web.pages.dev

# Session secret
SESSION_SECRET=super-secret-key-change-me
