# API base URL (no trailing slash)
API_BASE_URL=http://localhost:3000

# Plumpi Events API endpoint (no trailing slash)
PLUMPI_ENDPOINT=https://api-staging.plumpievents.com/v1

# Session secret
SESSION_SECRET=super-secret-key-change-me
